.wrapper
{
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}
/* header*/
.header
{
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
.header a
{
    transition: all 0.2s linear;
    color: #bcbdc7;
}
.topinfo
{
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}

.accountlistlink{
    display: block; 
    padding: 5px 15px;   
  }
  .accountlistlink:hover{
    color: #fff;
  }
  .accountlistlink>i{
    padding-left: 4px;
  }
  .languages img{
    padding:8px 0 0 10px;
  }
.fa-icon{
    width:16px;
    vertical-align: middle;
    padding-left: 4px;
}
.header-info{
  border-bottom: 1px solid #303e4f;
  padding: 20px;
}
.searchbox{
  flex-grow: 1;
   justify-content: center;
  height: 30px;
}
.categorylist{
  border: none;
  padding: 8px 15px;
  border-radius: 0 15px 15px 0;
    
}
.searchinput{
  border: none;
  padding: 8px 15px;
}
.btnsearch{
  padding: 10px 15px;
  background-color: #f4a137;
  color: #fff !important;
  border-radius: 20px 0 0 20px;
}
.contactus{
  margin: 0 0.8em;
  font-size: 0.9em;
}
.contactusicon{
  font-size: 1.7em;
  padding: 0 0.4em;
}.cart{
  font-size: 0.9em;
}
.carticon{
  background-color: #f4a137;
  padding: 3px;
  margin-top: 9px;
}
.contaction{
  margin-top: 11px;
}
.topnav{
 position: relative;
}
.topnavlink{
  display: block;
  padding: 10px 12px;
  font-size: 0.9em;
  position: relative;
}
.topnavlink:hover{
  color: #fff;
}
.topnavitem:hover>.submuno{
  display: block;
}
.hotcategory::before{
  content: ' ';
  position: absolute;
  background-image: url(../image/icon/flash2.png);
  width: 25px;
  height: 21px;
  top: -6px;
  right:30%;
}
.submuno{
  display: none;
  width: 100%;
 height:200px;
  background-color: red;
  position: absolute;
  top:100%;
  right: 0;
}
.submenucontainer{
  width: 100%;
  height: 100%;
  position: relative;
}
.submenoimage{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
}
.submenulist{
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.submenulistitem{
  width: 25%;
}
/* main*/
.main{
  background-color: #fff;
}
.slider{
  height: 422px;
  padding: 10px;
}
.r-ads{
  width: 25%;
  margin-left: 10px;
}
.l-ads{
  flex-grow: 1;
}
.r-ads img,
.l-ads img{
  width: 100%;
  height: 100%;
}
.topproductitem{
  flex-grow: 1;
  padding: 10px;
}
.topproductimag img{
  border-radius:50%;
  padding: 10px;
}
.topproduct{
  background-color: silver;
}

.topproductinfo{
  align-self: center;
}

.ts-detail{
  flex-grow: 2;
  border: 1px solid red;
 margin: 10px;
}
.ts-list{
  flex-grow: 3;
}
.ts-productlist{
  flex-wrap: wrap;
}
.ts-productitem{
  width: 33%;
  flex-grow: 1;
  
}
.ts-productitemdetail{
  border: 1px solid red;
  margin: 10px;
}
.productimage{
  width: 100%;
}
.producttitel{
  color: #000;
  display: block;
}
.producttitel:hover{
  color: #f4A137;
}
.productaction{
  margin:10px;
}

