.wrapper
{
    width: 90%;
    margin: 10px auto;
}
/* header*/
.header
{
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
.header a
{
    color: #bcbdc7;
}
.topinfo
{
    border-bottom: 1px solid #303e4f;
    display: flex;
    justify-content: space-between;
}
.accountlist{
    display: flex;
}
.accountlistlink{
    display: block; 
    padding: 5px 15px;
      
  }
  .accountlistlink>i{
    padding-left: 4px;
  }
.fa-icon{
    width:16px;
    vertical-align: middle;
    padding-left: 4px;
}

